*{
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    box-sizing: border-box;
    font-size:14px ;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
input{
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
}
button{
    border: none;
    outline: none;

}
/*
body{
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-size: 1000px auto;
    background-color:#0b8ed9;
}*/
.text-nowrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
textarea{
    border: none;
    outline: 1px solid #7f7f7f;
    resize:none;
}
/*轮播图指示器*/
.el-carousel__button{
    height: 10px!important;
    width: 10px !important;
    border-radius: 50%;
}
.el-carousel__indicators--outside button
{
    background-color: #3a8ee6!important;
}
.el-slider__button-wrapper,.el-slider__button{
    cursor: pointer!important;
}

.el-slider__runway{
    margin: 0!important;
    background-color: #c1c1c1!important;
    height: 5px!important;
}
.el-slider__bar{
    height: 5px!important;
}
.el-slider__button{
    width: 8px!important;
    height:8px!important;
    background-color: #3a8ee6!important;
}
#volume-progress .el-slider__runway {
    height: 4px !important;
}
#volume-progress .el-slider__bar{
    height: 4px !important;
}
#volume-progress .el-slider__button{
    width: 5px!important;
    height: 5px!important;
    margin-top: -1px;
}

.w-e-text-container,.w-e-toolbar{
    border: 1px solid #aecfea!important;
}
.w-e-toolbar .w-e-menu i {
    color: rgba(58, 142, 230,.7);
}
#comment-edit .w-e-text-container{
    height: 150px!important;
}